/*####################->HEADER<-#####################*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    width: 100vw;
    background-color: var(--primary-color);
    border-bottom: 1px solid white;
    line-height: 40px;
    position: fixed;
    top: 0;
}

.header ul {
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color);
}

.header ul li {
    list-style: none;
    background-color: aquamarine;
    border-radius: 3px;
    padding: 2px;
    transition: box-shadow .6s ease;
}

.header ul li:hover {
    background-color: aqua;
    cursor: pointer;
    box-shadow: inset 200px 0 0 #00000055;
}

.header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: black;
}

/*Controla o menu*/
.menu {
    list-style:none;
    /**border:1px solid #c0c0c0; */
    border:1px solid black;
    float:left;
    background-color: var(--primary-color);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    position:relative;
    float:left;
    border:1px solid white;
    padding: 2px;
    width: 100px;
}

.menu li ul {
    position:absolute;
    left:0;
    background-color:aqua;
    display:none;
}

/*mostra o menu no hover*/
.menu li:hover ul, .menu li.over ul {
    display:flex;
    flex-direction: column;
}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}

/*####################->CAPTION TABELA<-#####################*/
caption {
    background-color: var(--primary-color);
}

/*####################->FOOTER<-#####################*/
.footer {
    width: 100vw;
    height: 40px;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    color: black;
    font-size:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-menu {
    display: flex;
    flex-direction: column;
}

.header-title {
    width: 100%;
}

main {
    width: 90%;
    height: 80%;
    flex-grow: 1;
}

.header-title-consulta {
    width: 100%;
}
