    .header {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
        background-color: #FFBA00;;
    }
    
    .header ul {
        display: flex;
        gap:1px;
    }

    .header ul li {
        list-style: none;
        background-color: aquamarine;
        padding: 10px;
        border-radius: 3px;
    }
    
    .header ul li:hover {
        background-color: aqua;
        cursor: pointer;
    }
    
    /*Controla o menu*/
    .menu {
        list-style:none;
        border:1px solid #c0c0c0;
        float:left;
    }

    .menu li {
        position:relative;
        float:left;
        border-right:1px solid #c0c0c0;
    }

    .menu li ul {
        position:absolute;
        top:40px;
        left:0;
        background-color:aqua;
        display:none;
    }

    /*mostra o menu no hover*/
    .menu li:hover ul, .menu li.over ul {
        display:flex;
        flex-direction: column;
    }

    .menu li ul li{
        border:1px solid #c0c0c0;
        display:block;
        width:150px;
    }
